# WhatsApp Gateway Configuration
WA_GATEWAY_URL=http://gowa:3006/whatsapp/send/message
WA_TARGET_PHONE=6281xxx
WA_USER=
WA_PASSWORD=

# BMKG Filter Province (optional, comma-separated)
# Example: FILTER_PROVINCE=Jawa Barat, Bali, DI Yogyakarta
FILTER_PROVINCE=
